<div class='jumbotron'>
	<div class='container'>
		<form role="form" novalidate>
			<div class="form-group">
				<div class="input-group">
					<label class="input-group-addon glyphicon">@</label>
					<input type="email" class="form-control" placeholder="email" ng-model='signIn.user.email'>
				</div>
			</div> <!-- /.form-group -->

			<div class="form-group">
				<div class="input-group">
					<label class="input-group-addon glyphicon glyphicon-lock"></label>
					<input type="password" class="form-control" ng-model="signIn.user.password" placeholder="Password">
				</div> <!-- /.input-group -->
			</div> <!-- /.form-group -->

			<div class="form-group">
				<div class="input-group">
					<input type="submit" ng-click="signIn.handleSignIn(signIn.user)" class='btn btn-primary btn-lg btn-block'>
				</div>
			</div>
		</form>	
	</div>	
</div>