<div class="cardsContainer">
	<ul>
			<li class="columns cola">
				<ul class="col1">
					<li ng-repeat="item in home.items" ng-show="$index % 4 == 0">
						<div class="card" ng-class="{hightlightc: hightlightCard}"  ng-mouseenter="hightlightCard = true" ng-mouseleave="hightlightCard  = false">
							<div class="image">
								<img class="itemImage" ng-src="{{item.image}}" src="">
							</div>
							<div class="details">
								<div class="itemDetails">
									<h3>{{item.name}}</h3>
									<p class="cardDescription">{{item.description}}</p>
								</div>	
								<a ui-sref="app.user({userId: item.user.id})">
									<div class="userDetails">
										<img class="userImage" ng-src="{{item.user.image}}" src="">
										<h7>{{item.user.name}}</h7>
									</div>
								</a>
							</div>	
						</div>	
					</li>
				</ul>
			</li>
			
			<li class="columns">
				<ul class="col2">
					<li ng-repeat="item in home.items" ng-show="$index % 4 == 1">
						<div class="card" ng-class="{hightlightc: hightlightCard}"  ng-mouseenter="hightlightCard = true" ng-mouseleave="hightlightCard  = false">
							<div class="image">
								<img class="itemImage" ng-src="{{item.image}}" src="">
							</div>
							<div class="details">
								<div class="itemDetails">
									<h3>{{item.name}}</h3>
									<p class="cardDescription">{{item.description}}</p>
								</div>	
								<a ui-sref="app.user({userId: item.user.id})">
									<div class="userDetails">
										<img class="userImage" ng-src="{{item.user.image}}" src="">
										<h7>{{item.user.name}}</h7>
									</div>
								</a>
							</div>	
						</div>	
					</li>
				</ul>
			</li>	

			<li class="columns">
				<ul class="col3">
					<li ng-repeat="item in home.items" ng-show="$index % 4 == 2">
						<div class="card" ng-class="{hightlightc: hightlightCard}"  ng-mouseenter="hightlightCard = true" ng-mouseleave="hightlightCard  = false">
							<div class="image">
								<img class="itemImage" ng-src="{{item.image}}" src="">
							</div>
							<div class="details">
								<div class="itemDetails">
									<h3>{{item.name}}</h3>
									<p class="cardDescription">{{item.description}}</p>
								</div>	
								<a ui-sref="app.user({userId: item.user.id})">
									<div class="userDetails">
										<img class="userImage" ng-src="{{item.user.image}}" src="">
										<h7>{{item.user.name}}</h7>
									</div>
								</a>	
						</div>	
					</li>
				</ul>
			</li>

			<li class="columns">
				<ul class="col4">
					<li ng-repeat="item in home.items" ng-show="$index % 4 == 3">
						<div class="card" ng-class="{hightlightc: hightlightCard}"  ng-mouseenter="hightlightCard = true" ng-mouseleave="hightlightCard  = false">
							<div class="image">
								<img class="itemImage" ng-src="{{item.image}}" src="">
							</div>
							<div class="details">
								<div class="itemDetails">
									<h3>{{item.name}}</h3>
									<p class="cardDescription">{{item.description}}</p>
								</div>	
								<a ui-sref="app.user({userId: item.user.id})">
									<div class="userDetails">
										<img class="userImage" ng-src="{{item.user.image}}" src="">
										<h7>{{item.user.name}}</h7>
									</div>
								</a>
							</div>	
						</div>	
					</li>
				</ul>
			</li>	
	</ul>
</div>