ul{
	list-style-type:none;
	padding-left: 10px;
}

a{
	text-decoration: none;
}

h3{
	margin-top:0px;
}

h5{
	margin: 0px;
}

.hightlightc{
	opacity: 0.7;
}

.notify{
	padding-bottom: 3%;
}

.notfUserImage{
	display: inline-block;
}

.notfUserDesc{
	display: inline;
}

.searchnavForm{
	margin-left: 10%;
}

.usernavForm{
	margin-right: 10%;
}

.navbar{
	background-color: rgba(255, 255, 255, 0.89);
}

a:hover 
{ 
     text-decoration:none; 
     cursor:pointer;  
}

.itemDetails{
	border-bottom: 1px solid;
}

.userDetails{
	margin-top: 3%;
}

.itemImage{
	width: 188px;
	border-radius: 10px 10px 0px 0px;
}

.userImage{
	width: 20px;
	border-radius: 5px;
}

.card{
	background-color:#fff;
	border-radius: 10px;
	margin-bottom: 6%; 
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

body{
	background: rgba(0, 0, 0, .04);
}

.cola{
	margin-left: auto;
	margin-right: auto;
}

.notificationBoard{
	position: fixed;
}

.arrow{
	padding-top: 3%;
	padding-left: 30%;
}

.divo{
	background-color: #fff;
	border-radius: 6px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-right: 15px;
	border: 1px solid rgba(0,0,0,.2);
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.notfContent{
	padding-top: 4%;
}

.notfList{
	padding-top: 4%;
}

.cardsContainer{
	margin-top: 7%;
	margin-left: 8%;
	margin-right: auto;
}

.details{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 10px;
}

.cardDescription{
	font-size: 100%;
	opacity: .5;
}

.columns
{
	float:left;
}