<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <ul>
    	<li class="searchnavForm">
	    	<form class="navbar-form navbar-left" role="search">
	    		<a ui-sref="home" class="btn btn-default"><span class="glyphicon glyphicon-home"></span></a>
	      	<div class="input-group">
	        	<input type="text" placeholder="Search an item.." class="form-control">
        		<div class="input-group-btn">
        			<button type="button" class="btn btn-default">
	          		<span class="glyphicon glyphicon-search"></span>
	          	</button>
	        	</div>
	      	</div>
	    	</form>
	  	</li>
	  	
	  	<li class="usernavForm">
	  		<div class="navbar-right navbar-form">
	  			<button ng-click="showNotification = ! showNotification" class="btn btn-default">
	  				<span class="glyphicon glyphicon-fire"></span>
	  				{{home.user}}
	  			</button>
	  			<div ng-show="showNotification" class="notificationBoard">
	  				<div class="arrow">
	  					<img src="https://dev.vaadin.com/svn/branches/TouchKit2/vaadin-touchkit-agpl/src/main/java/com/vaadin/addon/touchkit/gwt/client/theme/img/navbar-arrow-up.png">
	  				</div>
	  				<div class="divo">
	  					<div class="notfContent">
		  					<ul class="notfList">
		  						<li class="notify">
		  							<img class="userImage notfUserImage" src="http://upload.wikimedia.org/wikipedia/commons/3/31/Mark_Zuckerberg_at_the_37th_G8_Summit_in_Deauville_018_v1.jpg">
		  							<p style="display:inline;">Itai wants to borrow your [Book]</p>
		  						</li>
		  						<li class="notify">
		  							<img class="userImage notfUserImage" src="http://upload.wikimedia.org/wikipedia/commons/3/31/Mark_Zuckerberg_at_the_37th_G8_Summit_in_Deauville_018_v1.jpg">
		  							<p style="display:inline;">Ido  wants to return your [guitar]</p>
		  						</li>
		  					</ul>
	  					</div>
	  				</div>
	  			</div>
	  		</div>
	  	</li>
    </ul>
  </div>
</nav>

<div class="cardsContainer">
	<ul>
			<li class="columns cola">
				<ul class="col1">
					<li ng-repeat="item in home.items" ng-show="$index % 4 == 0">
						<div class="card" ng-class="{hightlightc: hightlightCard}"  ng-mouseenter="hightlightCard = true" ng-mouseleave="hightlightCard  = false">
							<div class="image">
								<img class="itemImage" ng-src="{{item.image}}" src="">
							</div>
							<div class="details">
								<div class="itemDetails">
									<h3>{{item.name}}</h3>
									<p class="cardDescription">{{item.description}}</p>
								</div>	
								<a ui-sref="user({userId: item.user.id})">
									<div class="userDetails">
										<img class="userImage" ng-src="{{item.user.image}}" src="">
										<h7>{{item.user.name}}</h7>
									</div>
								</a>
							</div>	
						</div>	
					</li>
				</ul>
			</li>
			
			<li class="columns">
				<ul class="col2">
					<li ng-repeat="item in home.items" ng-show="$index % 4 == 1">
						<div class="card" ng-class="{hightlightc: hightlightCard}"  ng-mouseenter="hightlightCard = true" ng-mouseleave="hightlightCard  = false">
							<div class="image">
								<img class="itemImage" ng-src="{{item.image}}" src="">
							</div>
							<div class="details">
								<div class="itemDetails">
									<h3>{{item.name}}</h3>
									<p class="cardDescription">{{item.description}}</p>
								</div>	
								<a>
									<div class="userDetails">
										<img class="userImage" ng-src="{{item.user.image}}" src="">
										<h7>{{item.user.name}}</h7>
									</div>
								</a>
							</div>	
						</div>	
					</li>
				</ul>
			</li>	

			<li class="columns">
				<ul class="col3">
					<li ng-repeat="item in home.items" ng-show="$index % 4 == 2">
						<div class="card" ng-class="{hightlightc: hightlightCard}"  ng-mouseenter="hightlightCard = true" ng-mouseleave="hightlightCard  = false">
							<div class="image">
								<img class="itemImage" ng-src="{{item.image}}" src="">
							</div>
							<div class="details">
								<div class="itemDetails">
									<h3>{{item.name}}</h3>
									<p class="cardDescription">{{item.description}}</p>
								</div>	
								<a>
									<div class="userDetails">
										<img class="userImage" ng-src="{{item.user.image}}" src="">
										<h7>{{item.user.name}}</h7>
									</div>
								</a>	
						</div>	
					</li>
				</ul>
			</li>

			<li class="columns">
				<ul class="col4">
					<li ng-repeat="item in home.items" ng-show="$index % 4 == 3">
						<div class="card" ng-class="{hightlightc: hightlightCard}"  ng-mouseenter="hightlightCard = true" ng-mouseleave="hightlightCard  = false">
							<div class="image">
								<img class="itemImage" ng-src="{{item.image}}" src="">
							</div>
							<div class="details">
								<div class="itemDetails">
									<h3>{{item.name}}</h3>
									<p class="cardDescription">{{item.description}}</p>
								</div>	
								<a>
									<div class="userDetails">
										<img class="userImage" ng-src="{{item.user.image}}" src="">
										<h7>{{item.user.name}}</h7>
									</div>
								</a>
							</div>	
						</div>	
					</li>
				</ul>
			</li>	
	</ul>
</div>