<div class='jumbotron'>
	<div class='container'>
		<form role="form">
			<div class="form-group">
				<div class="input-group">
					<label class="input-group-addon">@</label>
					<input type="email" class="form-control" id="uLogin" ng-model='signUp.user.email' placeholder="Login">
				</div>
			</div> <!-- /.form-group -->

			<div class="form-group">
				<div class="input-group">
					<label class="input-group-addon glyphicon glyphicon-lock"></label>
					<input type="password" class="form-control" ng-model='signUp.user.password'  placeholder="Password">
				</div> <!-- /.input-group -->
			</div> <!-- /.form-group -->

			<div class="form-group">
				<div class="input-group">
					<label class="input-group-addon glyphicon glyphicon-lock"></label>
					<input type="password" class="form-control" ng-model='signUp.user.password_confirmation' placeholder="Password Confirm">
				</div> <!-- /.input-group -->
			</div> <!-- /.form-group -->

			<div class="form-group">
				<div class="input-group">
					<input type="submit" ng-click="signUp.handleSignUp(signUp.user)" class='btn btn-primary btn-lg btn-block'>
				</div>
			</div>
		</form>	
	</div>	
</div>

