<!-- <div ui-sref="home({hoohoo: 5, name: 'fjoiwe'})">Hello world</div> -->
<div class='container-fluid'>
  <div class='page-header'>
    <ul class="nav nav-pills authnav" role="tablist">
      <li role="presentation" ng-class="{active: auth.signIn}" ng-click="auth.signIn = true">
    		<a ui-sref="auth.signIn" >sing in</a>
    	</li>
    	<li role="presentation" ng-class="{active: !auth.signIn}" ng-click="auth.signIn = false">
    		<a ui-sref="auth.signUp">sign up</a>
    	</li>
    </ul>
  </div>
  <div ui-view='sign' class='container'></div>
</div>

<style>

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}

</style>
