<!-- <div ui-sref="home({hoohoo: 5, name: 'fjoiwe'})">Hello world</div> -->
<div class='container-fluid'>
  <div class='page-header'>
    <ul class="nav nav-pills authnav" role="tablist">
      <li role="presentation" ng-class="{active: auth.signIn}" ng-click="auth.signIn = true">
    		<a ui-sref="auth.signIn" >sing in</a>
    	</li>
    	<li role="presentation" ng-class="{active: !auth.signIn}" ng-click="auth.signIn = false">
    		<a ui-sref="auth.signUp">sign up</a>
    	</li>
    </ul>
  </div>
  <div ui-view='sign' class='container'></div>
</div>
