/*ul{
	list-style-type:none;
	display: inline-block;
}
li{
}

.authnav{
	margin-top: 1%;
	margin-left: 2%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.siUpbtn{
	padding-bottom: 3%;
}

.signContainer{
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 1%;
	display: inline-block;
	background-color: #f1f1f1;
	margin-left: 40%;
}

.siInbtn{
	margin-right: 5%;
}

h1{
	padding-bottom: 5%;
}

.inlineBtns{
	display: inline;
}

.ng-dirty.ng-invalid{
	border-color:#FF6666;
}

.ng-dirty.ng-valid{
	border-color: green;
}*/