<div class="Guycontainer">
	<center>
		<h3>{{user.oneUser.name}}'s Garage</h3>
	</center>

	<ul class="itemslist">
		<li class="propItems">
			<div class="UserProps">
				<img class="uImage" ng-src="{{user.oneUser.image}}" src="">
				<div class="userInnerProps">
					<div class="userName">
						<h3>{{user.oneUser.name}}</h3>
					</div>
					<div class="userEmail">
						<h5>{{user.oneUser.email}}</h5>
					</div>
					<div class="DownProps">
						Joined on : {{user.oneUser.created_at}}
					</div>
				</div>	
			</div>
		</li>
		<li class="itemsPlace" style="display:inline-block; position:absolute">
			<ul>
				<li class="columns cola">
					<ul class="col1">
							<li ng-repeat="item in user.oneUser.items" ng-show="$index % 3 == 0">
								<div class="card" ng-class="{hightlightc: hightlightCard}"  ng-mouseenter="hightlightCard = true" ng-mouseleave="hightlightCard  = false">
									<div class="image">
										<img class="itemImage" ng-src="{{item.image}}" src="">
									</div>
									<div class="details">
										<div class="itemDetails">
											<h3>{{item.name}}</h3>
											<p class="cardDescription">{{item.description}}</p>
										</div>	
										<a>
											<div class="userDetails">
												<img class="userImage" ng-src="{{item.user.image}}" src="">
												<h7>{{item.user.name}}</h7>
											</div>
										</a>
									</div>	
								</div>	
							</li>
						</ul>
					</li>

					<li class="columns cola">
						<ul class="col2">
							<li ng-repeat="item in user.oneUser.items" ng-show="$index % 3 == 1">
								<div class="card" ng-class="{hightlightc: hightlightCard}"  ng-mouseenter="hightlightCard = true" ng-mouseleave="hightlightCard  = false">
									<div class="image">
										<img class="itemImage" ng-src="{{item.image}}" src="">
									</div>
									<div class="details">
										<div class="itemDetails">
											<h3>{{item.name}}</h3>
											<p class="cardDescription">{{item.description}}</p>
										</div>	
										<a>
											<div class="userDetails">
												<img class="userImage" ng-src="{{item.user.image}}" src="">
												<h7>{{item.user.name}}</h7>
											</div>
										</a>
									</div>	
								</div>	
							</li>
						</ul>
					</li>

					<li class="columns cola">
						<ul class="col3">
							<li ng-repeat="item in user.oneUser.items" ng-show="$index % 3 == 2">
								<div class="card" ng-class="{hightlightc: hightlightCard}"  ng-mouseenter="hightlightCard = true" ng-mouseleave="hightlightCard  = false">
									<div class="image">
										<img class="itemImage" ng-src="{{item.image}}" src="">
									</div>
									<div class="details">
										<div class="itemDetails">
											<h3>{{item.name}}</h3>
											<p class="cardDescription">{{item.description}}</p>
										</div>	
										<a>
											<div class="userDetails">
												<img class="userImage" ng-src="{{item.user.image}}" src="">
												<h7>{{item.user.name}}</h7>
											</div>
										</a>
									</div>	
								</div>	
							</li>
						</ul>
					</li>

				</ul>
		</li>
	</ul>
</div>